#!/bin/sh
# Brewfile hash: {{ include "dot_Brewfile" | sha256sum }}
# Brewfile.lock.json hash: {{ include "dot_Brewfile.lock.json" | sha256sum }}

brew bundle check --global || brew bundle install --global